.Compte {
    .divActions {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
        .bouton.rouge {
            background-color: #ef4444;
        }

        .bouton.rouge:hover {
            background: #b91c1c;
        }
    }
}
#divModalModifierMail {
    text-align: center;
    .ChampDonneesForm {
        text-align: left;
        margin-bottom: 5px;
    }
    .bouton {
        margin-top: 10px;
    }
}
#divModalNouveauMdp {
    form {
        #divDetailsModal {
            margin-bottom: 10px;
            #lienDeconnexion {
                color: #0085ff;
                text-decoration: underline;
                cursor: pointer;
                font-weight: bold;
            }
            #pConnecterMauvaisUtilisateur {
                width: 100%;
            }
        }
    }
}
