.Equipe {
    #divListeEquipes {
        table {
            width: 400px;
            border-collapse: collapse;
            /* border: 1px solid black; */
            margin: 0 auto;

            td {
                height: 35px;
                padding: 0 20px;
            }

            .tdEstChef {
                width: 50px;
                text-align: center;
                position: relative;
                cursor: pointer;
                .infoBulle {
                    visibility: hidden;
                    background-color: #333;
                    color: #fff;
                    text-align: center;
                    padding: 6px 10px;
                    border-radius: 4px;

                    position: absolute;
                    bottom: -100%;
                    left: 50%;
                    transform: translateX(-50%);

                    white-space: nowrap;
                    z-index: 10;
                }
            }
            .tdEstChef:hover .infoBulle {
                visibility: visible;
            }

            .action {
                width: 70px;
                text-align: center;
                cursor: pointer;
            }
        }
    }
}
#modalCreationEquipe {
    text-align: center;
    form {
        .ChampDonneesForm {
            margin-left: auto;
            margin-right: auto;
        }
        button {
            width: 50px;
            display: flex;
            justify-content: center;
        }
        #divErreurFormulaire {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 5px;
            margin-bottom: 10px;
            #pErreur {
                margin-left: 10px;
                font-size: 0.85em;
                font-weight: bold;
            }
            svg {
                display: block;
                width: 24px;
                height: 24px;
            }
        }
    }
}
#modalOptionsEquipe {
    text-align: center;
    #divOptions {
        margin-top: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 20px;
    }
}
#modalSupprimerEquipe {
    text-align: center;
    h1 {
        margin-bottom: 10px;
    }
    #divChoix {
        width: 80%;
        margin: 10px auto 0;
        display: flex;
        justify-content: space-between;
        .boutonSupprimer {
            background-color: red;
        }
    }
}
#modalModifierEquipe {
    text-align: center;
    #divinputNouveauNom {
        margin: 5px auto 15px auto;
    }

    button {
        margin: 0 auto;
    }
}
#modalAjouterMembre {
    text-align: center;
    #divinputMail,
    button {
        margin: 0 auto;
    }
    #divEnvoyerMail {
        label {
            margin-left: 5px;
            font-weight: bold;
        }
    }
    button {
        margin-top: 10px;
    }
}
#modalListesMembres {
    h1 {
        text-align: center;
    }
    .nomSansMail {
        text-align: center;
    }
    table {
        margin: 5px auto 0 auto;
        border-collapse: collapse;

        td {
            padding: 8px 12px;
            text-align: left;
        }

        .tdNom {
            width: 200px;
        }

        .tdMail {
            width: 250px;
        }

        .tdPoubelle {
            width: 30px;
            text-align: center;
            cursor: pointer;
        }
        .tdPoubelle.interdit {
            cursor: not-allowed;
        }

        .tdPoubelle svg {
            transition: color 0.2s ease;
        }

        .tdPoubelle:hover svg {
            color: red;
        }
    }
}
#modalQuitterEquipe {
    text-align: center;
    form {
        p {
            margin-top: 3px;
        }
        #divBoutons {
            width: 80%;
            margin: 10px auto 0;
            display: flex;
            justify-content: space-between;
            .boutonQuitter {
                background-color: red;
            }
        }
    }
}
#modalDemandeAdhesion {
    text-align: center;
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        .ChampDonneesForm {
            margin: 10px 0;
        }
        #pErreur {
            margin: -10px 0 10px;
        }
    }
}
