.InterfaceAdministration {
    table {
        border-collapse: collapse;
        margin: 0 auto;
        td {
            height: 35px;
            line-height: 25px;
        }

        .tdAction {
            cursor: pointer;
            width: 50px;
            text-align: center;
        }
    }
    .divVerificationCommunication {
    }
    #divMissions,
    #divScenarios {
        table {
            text-align: center;
            .tdNom {
                width: 100px;
            }
            .tdDescription {
                width: 300px;
            }
            .tdIpAdresse {
                width: 100px;
            }
        }
    }
    #divMissions {
        table {
            .tdReponse {
                width: 200px;
            }
        }
    }
    #divMessagesAudio {
        table {
            .tdTexte {
                width: 600px;
            }
            .tdAction {
                cursor: pointer;
                width: 50px;
                text-align: center;
            }
            .tdPlay:hover svg {
                fill: green;
                stroke: green;
                color: green;
            }
            .tdStop:hover svg {
                fill: red;
                stroke: red;
            }
            .tdPoubelle:hover {
                color: red;
            }
        }
    }
}

#modalAjouterMission {
    text-align: center;
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        margin-top: 10px;
        #divinputNom,
        #divinputDescription,
        #divinputAdresseIp {
            margin-bottom: 10px;
        }

        #divinputDescription,
        #divinputReponse {
            height: 100px;
            textarea {
                height: 81px;
                resize: none;
            }
        }
        button {
            margin-top: 10px;
        }
    }
}
#divModalAjouterScenario {
    text-align: center;
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        margin-top: 10px;

        #divinputDescription {
            margin: 10px 0;
            height: 100px;
            textarea {
                height: 81px;
                resize: none;
            }
        }
        button {
            margin-top: 10px;
        }
    }
}
#divModalGenererAudio {
    text-align: center;
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        margin-top: 10px;

        #divinputTexte {
            margin-bottom: 10px;
            height: 100px;
            textarea {
                height: 81px;
                resize: none;
            }
        }
        button {
            margin-top: 10px;
        }
    }
}
#divModalSupprimerAudio {
    text-align: center;
    form {
        #divBoutons {
            width: 80%;
            margin: 10px auto 0;
            display: flex;
            justify-content: space-between;
            .supprimer {
                background-color: red;
            }
        }
    }
}
#divModalMenuScenario,
#divModalMenuMission {
    text-align: center;
    #divOptions {
        margin-top: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 20px;
    }
}
#divModalModifierNomScenario,
#divModalModifierNomMission {
    text-align: center;
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
    }
}

#divModalModifierDescriptionScenario,
#divModalModifierDescriptionMission {
    text-align: center;
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        margin-top: 10px;
        #divinputDescription {
            height: 100px;
            margin-bottom: 10px;

            textarea {
                height: 81px;
                resize: none;
            }
        }
    }
}
#divModalSupprimerScenario,
#divModalSupprimerMission {
    text-align: center;
    form {
        p {
            margin: 10px 0 15px;
        }
        #divChoix {
            width: 80%;
            margin: 10px auto 0;
            display: flex;
            justify-content: space-between;
            .boutonSupprimer {
                background-color: red;
            }
        }
    }
}
/* {"reader1": "Couronne"} */
